@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css");

.compliments_plus .pre-line {
	white-space: pre-line;
	color: skyblue;
}

.compliments_plus .wi,
.compliments_plus .fa {
	font-size: 70%;
	display: inline-block;
	transform: translateY(-5px);
}
